@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Merriweather", serif;
}

.banner-container {
    max-width: 1320px;
    margin: auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 20px;
    background-image: url("../assets/images/Banner\ image.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 180px; */
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner-content p,
h1 {
    color: white;
}

.banner-content p {
    font-size: 32px;
    font-weight: 400px;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900px;
}

/* 65%-section-container styles */

.second-section-container {
    width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 90px;

}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.image-container {
    width: 802.9px;
    height: 500px;
}

.image-container {
    width: 100%;
    height: 100%;
}

/* third container */

.party-container {
    max-width: 1320px;
    margin: auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 20px;
    background-image: url("/assets/images/Vectorrr.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    margin-bottom: 120px;
}



.party-container-content {
    color: white;
    margin-left: 126px;
    margin-right: 9px;
}

.party-img {
    margin-right: 108px;
    /* padding-left: 20px; */
}

.party-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;

}

.party-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}

.party-join {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-top: 48px; */
    margin-left: 148px;
}


/* time section starts here  */

/* shared styles */

.red-color {
    color: red;

}

.time-part {
    width: 1320px;
    height: 482px;
    margin: auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    margin-bottom: 110px;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-content {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;

}

.time-join {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    width: 167px;
    height: 56px;


    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

/* best-offer-section styles here */
.best-offer-section {

    width: 1320px;
    height: 463px;
    margin: auto;
    margin-bottom: 110px;
}

.best-offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 70px; */
}

.best-offer-content1 {
    margin-right: 70px;
}

.new-best-off {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin-bottom: 16px;

}

.best-offer-content1 h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.best-offer-content1 p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


.best-offer-img {
    /* width: 463px;
    height: 463px; */
    box-sizing: border-box;
    border-radius: 100%;
    border: 15px solid rgb(255, 0, 0);

}

.off-img {
    /* width: 415px;
    height: 415px; */
    margin-top: 5px;
    padding: 19px;

}

.best-offer-content2 {
    width: 276px;
    height: 170px;
    margin-left: 118px;
}

.best-offer-content2 h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.best-offer-content2 p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.best-offer-content2 img {
    width: 100px;
    height: 100px;
}

/* holidays-container styles here */

.holidays-container {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
}

.holidays-container h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.holi-red {
    color: red;
}

.holidays-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: black;
    margin-bottom: 28px;
}

.holidays-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.holidays-img {
    display: flex;
    background-image: url("../assets/images/Rectangle\ 2.png");
    /* background-size: contain; */
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 16px;

    margin: 0 auto;

}

.discount {
    width: 306.84px;
    height: 306.84px;
    margin: 77px 180px 50px 177px;
}


/* products portfolio styles starts */


.products-portfolio-container {
    margin: 140px;
}

.products-portfolio-container h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.products-portfolio-container h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.products-portfolio-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
}

.products-img img {
    border-radius: 16px;
}

.products-img {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
}

/* subscribe newsletter styles */

.newsletter-container img {
    /* text-align: center; */
}

.newsletter-box {
    text-align: center;
}

.newsletter-box img {
    width: 150px;
    height: 150px;
    margin-bottom: 46px;

}

.newsletter-box h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.newsletter-box p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.input-field {
    width: 648px;
    height: 72px;
    margin-left: 550px;
    gap: 10px;
    margin-bottom: 80px;
}

#email {
    width: 281px;
    height: 50px;
    background: rgba(239, 237, 229, 0.784);
    padding-left: 15px;
    font-size: 20px;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

#subscribe {
    width: 122px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    margin-left: -5px;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 20px; */
    text-align: center;
    text-transform: capitalize;
}


/* footer section styles here */

.footer-container {
    width: 1600px;
    height: 609px;
    background: rgb(7, 2, 17);
}

.info-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.location {
    margin-top: 120px;
    margin-left: 140px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.icons {
    margin-top: 120px;
    margin-right: 140px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

.fa-brands {
    /* color: white; */
    border: 1px dotted white;
    font-size: 30px;
    margin: 18px;
    padding: 15px;
}
.fa-facebook{
    background-color: blue;
    color: white;
}
.fa-square-x-twitter{
    background-color: black;
    color: white;
}

.fa-square-instagram{
    background-color: tomato;
    color: white;
}
.fa-linkedin{
    background-color: blue;
    color: white;
}

.social-icons {
    text-align: center;
    gap: 24px;
}

.info-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

/* end */